<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deps</title>
</head>
<body>
<form action="/api/v5/department" method="post">
    <label for="depName">Dep Name:
    <input id="depName" type="text" name="departmentName"/>
    </label><br>

    <label for="city">Dep city:
        <input id="city" type="text" name="city"/>
    </label><br>

    <label for="region">Dep region:
        <input id="region" type="text" name="region"/>
    </label><br>
    <button type="submit">SUBMIT</button>
</form>
</body>
</html>